/* -------------------------------------------------
>> Base Styles
---------------------------------------------------
>> Edit these styles as required
------------------------------------------------- */

body {
	@include font(axi, reg, family weight);
	transition: all 0.3s ease-in-out;
	position: relative;
	font-size: var(--dfb_font_size_16);
	color: var(--dfb_body_color);
	background-color: var(--dfb_body_bg);
	line-height: 1.5;

	&.have-topbar {
		padding-top: var(--dfb_header-height);
	}
}

p {
	margin: 0 0 30px;
}

::selection {
	color: var(--dfb_highlight_color);
	background-color: var(--dfb_highlight_bg);
}

strong {
	color: var(--dfb_text_strong) !important;
}
