.hero-section {
	transition: all 0.3s ease-in-out;
	background-color: var(--dfb_white_1);
	padding-top: var(--dfb_space_128);
}

.hero-ctn {
	padding: 80px 0 60px;
}

// Hero default & with image

.hero-default {
	padding: var(--dfb_space_72) 0 var(--dfb_space_96);
	text-align: center;

	&.with-image {
		text-align: left;

		.hero-default-inner {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: var(--dfb_space_30);
		}

		.hero-default-content,
		.hero-default-image {
			width: 48%;
		}
	}

	.heading-1 {
		margin-bottom: 0px;
	}
}

.hero-default-text {
	margin-top: 20px;

	p {
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.hero-default-button {
	line-height: 0.65;
	margin-top: 30px;
}
